:host{
    width: 100%;

    .movies-search-results-container{
        margin: 1.5em 3.125em 10em 0em;
        width: 100%;
        
        .movies-search-results-table{
            width: 100%;
        }
    }
movies-slicer-container{
    float: left;
    margin-left: 1em;
}   
    .movies-search-container{
        flex-direction: column;
        justify-content: center;
        margin-top: 1%;
        transition: all .3s linear;
        align-items: center;
        display: flex;
        margin-left: 17em;
    }
}