@import "~@angular/material/_theming.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
table {
  width: 100%;
}

th.mat-sort-header {
  color: black;
}
.mat-column-select {
  overflow: initial;
}

.option-cell{
  padding-right: 0 !important;
}